@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #16141f;
    color: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}